.navegation {
  background-color: aqua;
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacio entre el logo y los enlaces */
}

.nav-links {
  display: flex;
  justify-content: center; /* Centra los enlaces */
  flex-grow: 1; /* Permite que este contenedor ocupe el espacio disponible */
  gap: 10px; /* Espacio entre los enlaces */
}

.logo {
  height: 200px;
  width: 200px;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
}

.footer-content ul {
  list-style-type: none;
}

.footer-content ul li {
  display: inline;
  margin: 0 15px;
}

.footer-content a {
  color: white;
  text-decoration: none;
}

.footer-content a:hover {
  text-decoration: underline;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 20px;
}

.social-icons a:hover {
  color: #ffcc00; /* Cambia el color al pasar el mouse */
}

.search-container {
  display: flex; /* Para alinear el input y el botón en línea */
  margin-left: auto; /* Empuja el contenedor de búsqueda a la derecha */
  margin-right: 30px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px; /* Espacio entre el input y el botón */
}

.search-button {
  padding: 10px 15px;
  background-color: #333; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none;
  border-radius: 4px;
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
}

.search-button:hover {
  background-color: #555; /* Color de fondo al pasar el mouse */
}




.container_services {
  width: 90%;
  max-width: 1200px;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

/* Estilos de cada servicio */
.service {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  overflow: hidden;
}

.service:nth-child(even) {
  flex-direction: row-reverse; /* Alterna la dirección */
}

.service img {
  width: 40%;
  height: auto;
  object-fit: cover;
}

.service-content {
  padding: 20px;
  width: 60%;
}

.service-content h3 {
  margin: 0 0 10px;
  font-size: 1.5em;
  color: #e73616;
}

.service-content p {
  margin: 0;
  font-size: 1em;
  color: #555;
}

/* Sección ¿Por qué elegirnos? */
.why-choose-us {
  /* background-color: #fff3e0; */
  padding: 30px 20px;
  margin-top: 40px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.why-choose-us h2 {
  margin-bottom: 20px;
  color: #e73616;
  font-size: 2em;
}

.why-choose-us p {
  margin: 10px auto;
  max-width: 800px;
  font-size: 1.1em;
  color: #555;
  text-align: justify;
  
}

.why-choose-us strong {
  color: #333;
}
