.navegation {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-links {
  display: flex;
  justify-content: center;
  flex-grow: 1;
  gap: 10px;
  font-family: Arial, sans-serif;
}

.social-icons {
  margin-top: 10px;
}

.social-icons a {
  margin: 0 10px;
  color: white;
  font-size: 20px;
}

.social-icons a:hover {
  color: #ffcc00;
}

.search-container {
  display: flex;
  margin-left: auto;
  margin-right: 30px;
}

.search-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 5px;
}

.search-button {
  padding: 10px 15px;
  background-color: #333;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.search-button:hover {
  background-color: #555;
}

.container_about {
  display: flex;
  align-items: center;
  gap: 40px;
}

.image_about {
  max-width: 100%;
  height: auto;
  margin-right: 20px;
  width: 700px;
  height: 500px;
  margin-left: 20px;
}

.text_about {
  flex: 1;
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
  margin-right: 60px;
}
