* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #d7d3bf;
}

.logo {
  margin-top: 5px;
  margin-left: 5px;
  height: 190px;
  width: 190px;
  
}

.link {
  margin-top: 150px;
  text-decoration: none;
  color: #ecebde;
  font-size: 20px;
  font-family: Arial, sans-serif;
}

.navegation {
  background-color: #a59d84 !important;
  /* background-color:rgba(184, 75, 2, 0.48); */
  /* background-image: url('/Proyecto/images/banner.jpg'); */
  background-size: cover; /* Esto asegura que la imagen cubra todo el contenedor */
  background-position: center; /* Esto centra la imagen */
  background-repeat: no-repeat; /* Esto evita que la imagen se repita */
}

/*************************/
/*    IMAGEN DE INICIO   */
/*************************/

.contenedor_image_inicio {
  display: flex; 
  justify-content: center;
  align-items: center; 
  height: 100vh; 
}

.image_inicio {
  max-width: 100%;
  height: auto;
}

/***************/
/*   FOOTER    */
/***************/

.footer {
  background-color: #a59d84;
  color: #fff;
  font-family: Arial, sans-serif;
  padding: 30px 0;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  flex-wrap: wrap;
}

.footer-section {
  flex: 1;
  margin: 10px;
  min-width: 200px;
}

.footer-section h3 {
  font-size: 1.2em;
  margin-bottom: 15px;
}

.footer-section p,
.footer-section a {
  font-size: 0.9em;
  line-height: 1.5;
  color: #fff;
  text-decoration: none;
}

.footer-section a:hover {
  text-decoration: underline;
}

/* Iconos en Contacto */
.contact p::before {
  margin-right: 8px;
  font-size: 1.1em;
}

.contact p {
  margin: 5px 0;
}

/* Links e Información */
.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 10px;
}

/* Promociones */
.promociones h3 {
  color: #ecebde;
}

.promociones p {
  margin: 10px 0;
  font-size: 1em;
}

.register-btn {
  background-color: #c0392b;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.register-btn:hover {
  background-color: #45a049;
}

/* Footer Inferior */
.footer-bottom {
  background-color: none;
  color: black;
  text-align: center;
  padding: 15px 0;
  font-size: 1em;
}
